<div class="board">
  <% 1..8.each do |row| %>
    <div class="row">
      <% 1..8.each do |square| %>
        <div class="square">
      </div>
      <% end %>
  </div>
  <% end %>
</div>
<h1>Checkmate - Show Games</h1>

