// Place all the styles related to the ChessPieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.square {
  width: 20px;
  height: 20px;
  
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
.black {
  background-color: black;
}
