<h1>Chesspiece Show page </h1>

<div class="board">
  <% (0..7).each do |row| %>
    <div class="row">
      <% (0..7).each do |square| %>
        <% row_even = row % 2 == 0 %>
        <% square_even = square % 2 == 0 %>
        <% if row == @chesspiece.position_y && square == @chesspiece.position_x %>
          <div class="square yellow" >
        
        
          <% elsif row_even == square_even %>
            <div class="square white">
          <% else %>
            <div class="square black">
          <% end %>
         
          <% if @game.piece_at(square, row) == @chesspiece %>
            <%= link_to edit_chess_piece_path(@chesspiece) do %>
              <%= @game.piece_at(square, row).display.html_safe %>
            <% end %>
          <% end %>

          
       
         </div>
      <% end %>
   </div>
  <% end %>

  
</div>